/* footer  */

footer {
    background: rgb(236, 197, 76);
    background: linear-gradient(90deg, rgba(236, 197, 76, 1) 0%, rgba(253, 47, 29, 1) 97%, rgba(252, 69, 69, 1) 100%);
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
}

footer span {
    padding: 0.3em;
    font-size: 1.5em;

}

footer span a{
    font-family: Arial, Helvetica, sans-serif;
}