/* header  */

header {
    
    background: rgb(236, 197, 76);
    background: linear-gradient(90deg, rgba(236, 197, 76, 1) 0%, rgba(253, 47, 29, 1) 97%, rgba(252, 69, 69, 1) 100%);
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
}

header ul span {
    color: white;
    padding: 0.5em;
}

.mini-navbar ul {
    border: 1px solid #f8e5d4;
    border-radius: 0.3em;
    padding-left: 0;
    width: 100%;
}

header li {

    list-style: none;
    text-align: center;
    margin: .35em;
    padding: 0 .95em;
}

header li a:hover{
    color: #f8c192;

}

header a {
    text-decoration: none;    
    color: #f8e5d4;
    cursor: pointer;
}

nav {
    border-top: 1px solid #f8e5d4;
}

.logo {
    font-size: 1.3em;
    color: #f8e5d4;
    padding-bottom: 0;
    
}

.logo-wrap {
    font-family: 'Hepta', slab;
    letter-spacing: .4em;
    margin: 0.5em 0;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

/*search-bar*/

.search-box{
    width: fit-content;
    height: fit-content;
    position:relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #ff8262;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  
  

/* mini-navbar */

.mini-navbar ul {
    background-color: linear-gradient(90deg, rgba(236, 197, 76, 1) 0%, rgba(253, 47, 29, 1) 97%, rgba(252, 69, 69, 1) 100%);;
    border-radius: 5px;
}

.mini-navbar ul li+li {
    border-left: 1px solid #f8e5d4;
    padding-left: .5em;
}